div#change_password.modal.hide.fade(tabindex='-1',role='dialog',aria-hidden='true',style='display: none;')
	div.modal-header
		button.close(type='button',data-dismiss='modal',aria-hidden='true') ×
		h4 Change password
	div.modal-body
		div.form(method='post').form-horizontal
			div.control-group
				label.control-label New Password
				div.controls
					input(type='password')#new_password
			div.control-group
				label.control-label Confirm Password
				div.controls
					input(type='password')#new_password_confirm
			div.control-group
				label.control-label
				div.controls
					button(type='button').btn.btn-primary#newuser_create Update

