*
	font-family: 'Merriweather Sans', sans-serif !important;
a
	color: #00B7FF

h3
	font-weight: 100;
	color #02a6eb
.content
	margin: 0 auto;
	margin-bottom: 50px;
.header
	min-height: 80px;
	margin: 0;
	color: #333;
	padding: 1em;
	text-align: center;
	border-bottom: 1px solid #eee;
	background: #fff;
	font-weight 300
	h1
		margin: 0.2em 0;
		font-size: 5em;
		font-weight: 300;
#main
	width: 100%;
.file-listing
	background #f9f9f9
	padding 5px 10px
	padding: 5px 10px;
	border-top: solid 1px #c0c0c0;
	border-left: solid 1px #c0c0c0;
	border-right: solid 1px #c0c0c0;
	&:last-child
		border-bottom solid 1px #c0c0c0;
.file-listing.active
	border-left solid 5px #02a6eb
#menu
	padding: 3px 10px;
	background: #f0f0f0;
	margin-top: 77px;
	margin-right: 105px;
	position: absolute;
	right 0
